name: deploy

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install sshpass
        run: sudo apt-get install -y sshpass

      - name: ssh connect
        run: sshpass -p ${{ secrets.SSH_PASSWORD }} ssh -o StrictHostKeyChecking=no ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} cd ~/open-music.the-last-cookie.site && git pull origin main
        # shell: bash

      # - name: change dir
      #   run: cd ~/open-music.the-last-cookie.site

      # - name: pull
      #   run: git pull origin main
